{% extends "base2.html" %}
{% block content %} 

<h1> Guía del proceso</h1> 

<div class="row">
<h2>Fechas del proceso</h2>

Las fechas del proceso son las siguientes:

		<ul>
		   	<li>Entrega de borradores de propuestas: Hasta el 12 de Noviembre.</li>
    		<li>Presentación pública de propuestas: 14 de Noviembre.</li>
    		<li>Sugerencias/transacciones: Hasta el 26 de Noviembre.</li>
    		<li>Presentación de documentos finales: 1 de diciembre.</li>
    		<li>Jornada de trabajo para proponer un documento consensuado: 13 de diciembre.</li>
    		<li>Validación en asamblea: 17 de diciembre.</li>
    		<li>Fecha límite de elección de candidatura: 15 de febrero.</li>
		</ul>
</div> 

<div class="row">
<h2>¿Cómo redactar las propuestas?</h2>

Con el fin de facilitar un debate ordenado, cada propuesta tiene que incluir:

	<ol>
		<li><strong>Autoría:</strong> Nombre de la persona o equipo que hace la propuesta (en la web es automático).</li>
		<li><strong>Título</strong>: Denominación del método de elaboración de listas.</li>
		<li><strong>Descripción breve</strong>: Síntesis de los elementos esenciales del sistema, explicando en unas 100 palabras las características del modelo.</li>
		<li><strong>Justificación</strong>: Bases de carácter funcional, ideológico o filosófico que hacen del modelo una herramienta adecuada a la participación ciudadana, es decir, explicación de la pertinencia del sistema elegido en aproximádamente unas 200 palabras.</li>
		<li><strong>Desarrollo</strong>: Exposición detallada del sistema efectivo de elección de candidatos (Requisitos para poder formar parte de la candidatura, fases, mecanismo de selección, resultado final).</li>
		<li><strong>Apéndices voluntarios</strong>:
			<ul>
			   <li><strong> Anexo I</strong>: Fuentes de referencia teórica debidamente citadas donde se haga mención del sistema. Libros, manuales, artículos de investigación, citas de autores o profesores…</li>
			   <li><strong>Anexo II</strong>: Documentos  debidamente citados que ejemplifiquen su aplicación práctica en países, regiones, localidades, agrupaciones…</li>
			</ul>
		</li>
	</ol>
</div>

<div class="row">
<h2>Participación en papel</h2>
<p> Con el fin de facilitar la participación de todas las personas, incluidas aquellas con dificultades de acceso a internet o que se desenvuelven mal con herramientas informáticas, se habilitan espacios para la presentación y la consulta de propuestas:

<ul>
	<li>Las propuestas también pueden ser entregadas presencialmente en <strong>Librería y Centro Social La Pantera Rossa</strong>, calle San Vicente de Paul nº28 local. Zaragoza o por email en <strong>candidaturas@ganemoszaragoza.com</strong></li>
	<li>Las propuestas podrán ser consultadas a partir del 14 de noviembre en <strong>Imprenta Germinal</strong>, calle Sepulcro nº21 local. Zaragoza. </li>
</ul>
</div>


{% endblock %}