/* home page */
@font-face {
  font-family: 'all_things_pinkmedium';
  src: url('../fonts/All Things Pink-webfont.eot');
  src: url('../fonts/All Things Pink-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/All Things Pink-webfont.woff2') format('woff2'), url('../fonts/All Things Pink-webfont.woff') format('woff'), url('../fonts/All Things Pink-webfont.ttf') format('truetype'), url('../fonts/All Things Pink-webfont.svg#all_things_pinkmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
#intro-text {
  margin-top: 3em;
  font-size: 1.6em;
  font-family: 'Roboto Slab', serif;
  text-align: left;
}
hr.hr {
  background-color: #00a48c;
  height: 3px;
}
header.app-header-ahora {
  width: 100%;
  background-color: #00a48c;
}
header.app-header-ahora #header-container-ahora #logo-img {
  height: 60px;
  padding: 4px 0px;
}
header.app-header-ahora div.user-nav {
  display: block;
  text-align: right;
  margin-right: 2em;
}
header.app-header-ahora div.user-nav a {
  display: inline-block;
  margin: 0 0em;
  padding: 0em 1em;
  color: white;
  font-weight: bold;
}
header.app-header-ahora nav ul {
  padding: 0px;
  margin: 10px 0px;
}
header.app-header-ahora nav ul a {
  font-family: ubuntu, sans;
  color: #444;
}
@media (min-width: 992px) {
  header.app-header-ahora nav ul a {
    padding: 0.3em 0.4em;
    font-size: 0.9em;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header.app-header-ahora nav ul a {
    padding: 0.4em 0.4em;
    font-size: 0.8em;
  }
}
header.app-header-ahora nav ul a:hover {
  background-color: transparent;
  color: white;
}
header.app-header-ahora nav ul a:active {
  background-color: #333;
  color: white;
}
.block-custom-blocks-socialbuttonsheader div {
  float: right;
  margin-left: 0px;
}
#social-buttons img {
  width: 24px;
  margin-top: 2px;
}
#social-buttons a {
  font-family: all_things_pinkmedium;
  font-size: 1.2em;
}
a.carousel-control.left,
a.carousel-control.right {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  opacity: 0.8;
  color: #888;
}
.carousel-control .glyphicon-chevron-left {
  left: 5%;
}
.carousel-control .glyphicon-chevron-right {
  right: 5%;
}
/*#objetivos-ciudad-habitable div.objetivo{
	background-color: rgba(0,120,255,0.1);
}

#objetivos-democracia-transparencia div.objetivo{
	background-color: rgba(0,140,70,0.1);
}

#objetivos-derechos-sociales div.objetivo{
	background-color: rgba(255,191,0,0.1);
}

#objetivos-modelo-sostenible div.objetivo{
	background-color: rgba(150,150,150,0.1);
} */
#programa div.titulo-apuesta {
  line-height: 9em;
  vertical-align: middle;
  margin: 1em 0em;
  padding: 2em 1.5em;
}
#programa div.titulo-apuesta h3 {
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-family: 'ubuntu';
  text-transform: uppercase;
}
@media (min-width: 768px) {
  #programa div.titulo-apuesta h3 {
    font-size: 1.2em;
  }
}
@media (min-width: 992px) {
  #programa div.titulo-apuesta h3 {
    font-size: 1.5em;
  }
}
#programa div.titulo-apuesta h3 a {
  color: #444;
}
#programa div.titulo-apuesta h3 a:hover {
  text-decoration: none;
  background-color: white;
}
#programa div.objetivos-container a:hover {
  text-decoration: none;
}
#programa div.objetivos-container a {
  display: block;
  position: relative;
}
#programa div.objetivo {
  margin: 1em 0em;
  padding: 2em 0.5em;
  color: #444;
  font-size: 1.0em;
  font-family: "Open Sans";
  font-weight: 600;
  text-shadow: #eee 1px 0px 1px;
  text-align: center;
  background-color: #fff;
  height: 8em;
  background-image: url('../images/fondo_obj.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position-x: 95%;
  background-position-y: 90%;
}
#programa #col-ciudad-sostenible div.titulo-apuesta {
  border: 2px #4ecdc4 dotted;
  background-color: rgba(78, 205, 196, 0.9);
}
#programa #col-ciudad-sostenible div.objetivo {
  border: 2px #4ecdc4 dotted;
  background-color: rgba(78, 205, 196, 0.1);
}
#programa #col-ciudad-sostenible div.objetivo:hover,
#programa #col-ciudad-sostenible div.objetivo:active {
  background-color: #4ecdc4;
}
#programa #col-gobierno-democratico div.titulo-apuesta {
  border: 2px #edc951 dotted;
  background-color: rgba(237, 201, 81, 0.9);
}
#programa #col-gobierno-democratico div.objetivo {
  border: 2px #edc951 dotted;
  background-color: rgba(237, 201, 81, 0.1);
}
#programa #col-gobierno-democratico div.objetivo:hover,
#programa #col-gobierno-democratico div.objetivo:active {
  background-color: #edc951;
}
#programa #col-derechos-equidad div.titulo-apuesta {
  border: 2px #e97f02 dotted;
  background-color: rgba(233, 127, 2, 0.9);
}
#programa #col-derechos-equidad div.objetivo {
  border: 2px #e97f02 dotted;
  background-color: rgba(233, 127, 2, 0.1);
}
#programa #col-derechos-equidad div.objetivo:hover,
#programa #col-derechos-equidad div.objetivo:active {
  background-color: #e97f02;
}
#programa #col-economia-empleo div.titulo-apuesta {
  border: 2px #eb6841 dotted;
  background-color: rgba(235, 104, 65, 0.9);
}
#programa #col-economia-empleo div.objetivo {
  border: 2px #eb6841 dotted;
  background-color: rgba(235, 104, 65, 0.1);
}
#programa #col-economia-empleo div.objetivo:hover,
#programa #col-economia-empleo div.objetivo:active {
  background-color: #eb6841;
}
/****enviar propuesta **/
#enlaces-sidebar div.objetivo {
  margin: 0.1em 0em;
  padding: 0.4em 0.5em;
  color: #279A9A;
  font-size: 1.2em;
  font-family: "Open Sans";
  font-weight: 300;
}
.barra-der {
  background-color: transparent;
  border: none;
  padding: 1em;
  border: 1px dashed #999;
  border-radius: 10px;
  margin-left: 4em;
  margin-top: 10em;
}
.barra-der h4 {
  font-family: 'ubuntu' sans;
  font-size: 1.3em;
}
#step-elige-previous {
  display: none;
  margin-top: 2em;
}
#nuevapropuesta {
  display: none;
}
#nuevapropuesta h2,
#nuevapropuesta h3 {
  /*background-color: gold;*/
  padding: 0.5em;
  font-family: ubuntu, helvetica, sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
}
#nuevapropuesta h4 {
  font-weight: lighter;
  font-family: helvetica, sans-serif;
}
header.app-header,
nav,
nav a {
  background-color: transparent;
  transition: background-color 0.6s;
}
div.navbar-default {
  background-color: #00a48c;
}
nav a:hover {
  background-color: #279AEE;
}
.principal h1 {
  color: #00a48c;
  font-family: 'ubuntu', sans-serif;
}
h2.madrid {
  font-family: 'ubuntu', sans-serif;
  font-size: 4em;
  text-align: center;
}
#programa {
  padding-top: 6em;
}
#programa h2 {
  margin-bottom: 0.5em;
}
div.votos {
  background: #ECF9F8;
  color: #444;
}
.listado {
  border-bottom: 1px solid #00a48c;
}
.listado .votos {
  background: #ECF9F8;
  margin-top: 10px;
  color: #222;
  text-align: left;
}
@media (max-width: 1200px) {
  .listado .votos {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .listado .votos {
    font-size: 18px;
  }
}
.listado .titulo a {
  font-family: ubuntu;
}
.listado span.sector {
  color: #00a48c;
}
.tipoautor-3 .encabezado {
  background-image: url('../images/mini-logo-ahora.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-position-x: 1%;
  background-position-y: 95%;
}
.tipoautor-3 .titulo a {
  color: #00a48c;
  font-family: ubuntu;
}
.tipoautor-3 .votos {
  background: #00a48c;
  color: white;
}
.tipoautor-3.listado {
  background-image: url('../images/mini-logo-ahora.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position-x: 100%;
  background-position-y: 95%;
}
.enmienda-rol-2 {
  background-color: #f9f9f9;
}
.enmienda-rol-2 span.moderador {
  float: right;
  font-size: 0.9em;
  font-weight: bold;
}
.fondo_comentarios.comentario-rol-2 {
  background-color: #f9f9f9;
}
.fondo_comentarios.comentario-rol-2 span.moderador {
  float: right;
  font-size: 0.9em;
  font-weight: bold;
}
#nota-programa {
  display: none;
}
.propuesta-individual.tipoautor-3 #nota-programa {
  display: block;
  width: 25em;
  font-size: 0.8em;
  font-weight: bold;
}
#distritos {
  background-color: #555;
  padding: 4em 0;
}
#distritos h2 {
  color: white;
  margin-bottom: 1.5em;
  text-shadow: black 1px 1px 2px;
}
#distritos #info-distrito {
  border-radius: 5px;
  border: dotted 1px #888;
  /*background: #555;*/
  color: white;
  padding: 2em;
  margin-bottom: 1em;
}
#distritos #info-distrito #nombre-distrito {
  text-transform: uppercase;
  font-size: 2em;
}
#distritos #info-distrito select {
  background: #555;
  color: white;
}
#distritos .info-ayuda {
  color: white;
}
#lista-objetivos .apuesta {
  border: 1px dotted #888;
  border-radius: 10px;
  padding-bottom: 2em;
  padding-left: 1em;
  margin-bottom: 1em;
}
#lista-objetivos label.objetivo:hover {
  background-color: #4cae4c;
  color: white;
}
#lista-objetivos label.objetivo {
  margin-left: 1em;
  color: #666;
  padding: 0.4em 1em;
  transition: all 0.1s;
}
#lista-objetivos label.objetivo.active,
#lista-objetivos label.objetivo.active:hover {
  background-color: #4cae4c;
  color: white;
}
#step-elige {
  overflow: none;
  display: none;
}
#step-distritos {
  display: none;
}
#step-escribe {
  overflow: auto;
}
#step-envia {
  display: none;
}
#step-escribe input[type="text"] {
  border: solid #999 1px;
}
#step-distritos #distritos-inner {
  margin-top: 2em;
}
#step-distritos #distritos-inner div#canvas {
  display: none;
}
#step-distritos #distritos-inner .info-ayuda {
  margin: -10px;
}
#step-distritos #envio {
  margin-top: 3em;
}
.mini-texto-ayuda {
  font-size: 0.9em;
}
.footer {
  background-color: #00a58d;
  border-top: 5px solid #062033;
  color: #fff;
  padding: 70px 0;
  font-size: 1.3em;
}
.footer img {
  max-width: 100%;
  height: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer a,
.footer a:focus,
.footer a:hover {
  text-decoration: none;
  outline: 0;
}
.footer a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.footer .footer-single li {
  line-height: 32px;
  font-size: 1.4em;
}
.footer h6 {
  font-family: 'all_things_pinkmedium', sans-serif;
  font-size: 1.6em;
}
/* a partir de aqui todo son niapillas */
.form-footer {
  text-align: center;
}
.form-footer a {
  color: white;
  font-size: 1.4em;
  /*background-color: #5CB85C;*/
  padding: 0px 0em;
}
.form-footer a:hover {
  text-decoration: underline;
}
.form-footer i.fa {
  margin-bottom: 3px;
  background-color: #5CB85C;
}
p.no_login {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}
label#email_login-error {
  color: red;
  background-color: #ddd;
}
label#titulo-error {
  color: red;
  font-size: 1.4em;
  font-weight: bold;
}
.signup-error {
  display: none;
  color: red;
}
.propuesta-contenido-wrapper {
  margin-right: 4em;
}
div.form-group input#buscar {
  border: 1px solid #999;
}
