/* home page */
#intro-text{
	margin-top:3em;
	font-size:1.8em;
	font-family: 'Roboto Slab', serif;

}

div.objetivo{
	margin: 1em 0em;
	
	padding: 1em 0.5em;
	color:#444;
	font-size: 1.2em;
	font-family: "Open Sans";
	font-weight:300;
}

#objetivos-ciudad-habitable div.objetivo{
	background-color: rgba(0,120,255,0.1);
}

#objetivos-democracia-transparencia div.objetivo{
	background-color: rgba(0,140,70,0.1);
}

#objetivos-derechos-sociales div.objetivo{
	background-color: rgba(255,191,0,0.1);
}

#objetivos-modelo-sostenible div.objetivo{
	background-color: rgba(150,150,150,0.1);
}
div.titulo-apuesta {
	height:12em;
	line-height: 9em;
vertical-align: middle;
margin: 1em 0em;
padding: 1em 0.5em;
}
div.titulo-apuesta h3{
font-size: 1.3em;
text-align: center;
vertical-align: middle;
display: inline-block;

}
div.titulo-apuesta h3 a{
color: #fff;
	}
#col-ciudad-habitable div.titulo-apuesta{
	background-color: rgb(0,120,255);
}

#col-democracia-transparencia div.titulo-apuesta{
	background-color: rgb(0,140,70);
}

#col-derechos-sociales div.titulo-apuesta{
	background-color: rgb(255,191,0);
}

#col-modelo-sostenible div.titulo-apuesta{
	background-color: rgb(150,150,150);
}

#lista-objetivos h3{
font-size: 1.3em
}
#lista-objetivos .apuesta {
	margin-left:1em;
	color:#666;
}
/****enviar propuesta **/

#enlaces-sidebar div.objetivo{
	margin: 0.1em 0em;	
	padding: 0.4em 0.5em;
	color:#279A9A;
	font-size: 1.2em;
	font-family: "Open Sans";
	font-weight:300;
}
#enlaces-sidebar a{

}
.barra-der{
	background-color: #ddd;
	border: none;
	padding:1em;
}
header.app-header, div.footer, nav, nav a {
background-color:#279A9A;
transition: background-color 0.6s;

}
nav a:hover{
	background-color:#279AEE;

}
.principal h1{
	color : #279AEE;
	font-family: 'Roboto Slab', serif;

}
