{% extends "base2.html" %}

{% block title %} Entrar {% endblock %}
{% block content %}

<h1>Aviso legal y política de cookies</h1>

<h2>Aviso legal</h2>

"Ahora Madrid"<br>
Dirección <br>
CIF: <br>

http://ahoramadrid.org


<h4>Sobre la Propiedad Legal e intelectual</h4>

El propietario de esta web y su contenido es la Asociación "Ahora Madrid", en adelante "Ahora Madrid". Queda prohibida la transmisión, cesión, venta y alquiler de esta web sin la correspondiente autorización de sus dueños. La información y consejos presentados en esta web son de carácter orientativos quedando "Ahora Madrid" exenta de cualquier responsabilidad derivada de la falta de exactitud o efectividad en dicha información o consejos.

<p>"Ahora Madrid" se reserva el derecho de modificar el contenido de la web sin previo aviso y sin ningún tipo de limitación. La información remitida a esta web o introducida a través de sus formularios deberá ser veraz y no vulnerará el derecho a terceros ni la legalidad vigente.</p>

<p>"Ahora Madrid" declina cualquier responsabilidad contractual o extracontractual con la persona o empresa que tuviera perjuicios de cualquier naturaleza ocasionados por virus informáticos o por elementos informáticos de cualquier índole al no poder garantizar al 100% la ausencia de virus ni de otros elementos en la web.</p>

<p>El código original utilizado en la web ha sido realizado por <a href="http://guillermolazaro.com" target="blank"> Guillermo Lázaro </a>. El código de esta plataforma es un fork del código original adaptado por el grupo de participación digital de Ahora Madrid </p>


<h4>Condiciones de Utilización de la Web</h4>

<p>"Ahora Madrid" se reserva el derecho a actualizar, modificar o eliminar la información contenida en esta página pudiendo limitar o no permitir el acceso a dicha información. Especialmente, "Ahora Madrid" se reserva el derecho a eliminar, limitar o impedir el acceso a su web cuando surjan dificultades técnicas por hechos o circunstancias ajenas a "Ahora Madrid" que, a su criterio, disminuyan o anulen los niveles de seguridad adoptados para el adecuado funcionamiento de la web.


<h4>Política de Protección de Datos Personales</h4>

<p>Algunos servicios prestados en la web pueden contener condiciones particulares con previsiones específicas en materia de protección de Datos Personales.

<p>Los datos personales recogidos serán objeto de tratamiento automatizado e incorporados a los correspondientes ficheros automatizados.

<p>El usuario garantiza que los datos personales facilitados a "Ahora Madrid" son veraces y se hace responsable de comunicar cualquier modificación en los mismos.

<p>"Ahora Madrid", como responsable del fichero automatizado, garantiza el pleno cumplimiento de la normativa de Protección de Datos de Carácter Personal, y así, de acuerdo con la L.O. 15/1999, los apoderados, intervinientes, autorizados y, en su caso, avalistas de la entidad jurídica firmante quedan informados y prestan su consentimiento a la incorporación de sus datos a los ficheros automatizados existentes.

<p>Dichos ficheros han quedado registrados en la Agencia Española de Protección de Datos (www.agpd.es), tal como estipula la ley vigente.

<p>La recogida y tratamiento automatizado de los datos personales tiene como finalidad el mantenimiento de la relación con "Ahora Madrid", la gestión, administración, prestación, ampliación y mejora de los servicios en los que el usuario decida darse de alta, así como el envío por medios tradicionales y electrónicos, de información técnica y operativa de "Ahora Madrid".

<p>"Ahora Madrid" ha adoptado los niveles de seguridad de protección de los datos personales legalmente requeridos, y procura instalar aquellos otros medios y medidas técnicas adicionales a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados a "Ahora Madrid". No obstante, el usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.

<p>Los usuarios tienen derechos reconocidos y podrán ejercitar los derechos de acceso, cancelación, rectificación y oposición, así como a ser informados de las cesiones realizadas contactando con "Ahora Madrid" a través del correo electrónico programa@ahoramadrid.org

<p>"Ahora Madrid" puede utilizar cookies cuando un usuario navega por la web, asociándose únicamente con el navegador de un ordenador determinado (un usuario anónimo), y no proporcionan por sí el nombre y apellidos del usuario. Gracias a las cookies, resulta posible que "Ahora Madrid" reconozca los navegadores de los usuarios registrados después de que éstos se hayan registrado por primera vez, sin que tengan que registrarse en cada visita para acceder a las áreas y servicios reservados exclusivamente a ellos. Las cookies utilizadas no pueden leer los archivos cookie creados por otros proveedores. El usuario tiene la posibilidad de configurar su navegador para ser avisado en pantalla de la recepción de cookies y para impedir la instalación de cookies en su disco duro.




<h2>Política de cookies</h2>

<p>Navegar por esta web con las cookies activadas en el navegador conlleva de manera imprescindible la aceptación del uso de las mismas conforme la presente política. Si no aceptas el uso de cookies, puedes bloquearlas en el navegador. Las cookies permiten a la web recordar tus preferencias y reconocerte en sucesivas visitas. Esto se consigue almacenando en tu equipo de navegación cierta información sobre tu uso de la web. Algunas de las cookies se utilizan por nosotros y por terceros.

<h4>¿Qué son las cookies?</h4>

<p>Las “cookies” son pequeños ficheros temporales que se crean en tu dispositivo de navegación (ordenador, teléfono, tableta, etc.) cuando visitas una web, y que permiten a la misma almacenar información, por ejemplo para guardar tus preferencias de uso o para reconocerte en sucesivas visitas.

Cuando una web crea una cookie en tu dispositivo, se almacena lo siguiente:

La dirección/dominio de la web que ha creado la cookie
La duración de la cookie, que puede ir de escasos minutos a varios años
El contenido de la cookie.
En todo momento puedes configurar tu programa de navegación para impedir (bloquear) el uso de cookies por parte de determinadas webs, así como borrar las cookies almacenadas previamente.

<h4>¿Para qué se usan las cookies?</h4>

<ul>
<li><strong>Cookies esenciales</strong>. Se trata de cookies técnicas necesarias para gestionar el flujo de navegación dentro de la web o para mantenerte conectado a la misma. Si las deshabilitas, es posible que algún apartado de la web no funcione correctamente.</li>

<li><strong>Cookies de personalización.</strong> Necesarias para recordar determinadas preferencias del usuario.</li>

<li><strong>Cookies analíticas.</strong> Nos ayudan a nosotros y a terceros a recopilar información de la procedencia de los usuarios y su navegación dentro de la web, a efectos de realizar un análisis estadístico para poder mejorar su estructura y contenidos.</li>

<li><strong>Cookies publicitarias.</strong> Utilizadas para gestionar los anuncios que aparecen en la web, decidir el contenido o la frecuencia de los anuncios.</li>

<li><strong>Cookies publicitarias comportamentales.</strong> Ayudan a recopilar tus hábitos de navegación para crear un perfil de intereses que sirve para mostrarte anuncios más relevantes.</li>

<li><strong>Cookies para compartición social.</strong> Estas cookies son necesarias para identificarte en tus redes sociales y así permitirte compartir contenidos.</li>
</ul>
<h4>¿Qué cookies utiliza esta web?</h4>

<p>Esta web utiliza cookies de terceros. Navegar con las cookies activadas conlleva necesariamente la aceptación de la política de privacidad establecida por el proveedor de la cookie. Si no aceptas el uso de estas cookies, puedes bloquearlas en el navegador. Las cookies utilizadas incluyen lo siguiente:

<ul>
<li>Cookies de Google Analytics (__utma, __utmb, __utmc, __utmz)
Estas cuatro cookies son servidas por Google Analytics para recoger diversa información sobre la navegación del usuario por el site. Por ejemplo, la ubicación del visitante, detalles de la visita realizada (tiempo, páginas vistas, etc.). Además de bloquear estas cookies por medio del navegador, el usuario puede utilizar este complemento facilitado por el propio Google para inhabilitar el servicio de Google Analytics en su visita.</li>

<li>Cookies de Twitter y de Facebook. Para compartir en sus redes sociales.</li>
</ul>
<p>También puedes encontrar información en las webs de los navegadores:

Chrome: http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647
Explorer: http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9
Firefox: http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we
Safari: http://support.apple.com/kb/ph5042
Safari para IOS: http://support.apple.com/kb/HT1677?viewlocale=es_ES&locale=es_ES
Opera: http://help.opera.com/Windows/11.50/es-ES/cookies.html

Recuerda que en caso de bloquear las cookies es posible que determinados servicios o funcionalidades de la web no funcionen correctamente.

{% endblock %}