{% extends "base2.html" %}

{% block title %} Editar propuesta {% endblock %}
{% block scripts %}

<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">
bkLib.onDomLoaded(function() {
	new nicEditor({buttonList : ['bold','italic','underline','left','center','right','justify','ol','ul','link']}).panelInstance('propuesta');
});
</script>
<script src="static/js/raphael.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/scale.raphael.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/distritos.js"></script>
<script>
$(document).ready(function() {

	$("#nueva-propuesta").validate({
	    rules: {
	      titulo: {
			required: true,
	      },
	      sector: {
	      	required: true,
	      }
	    },
	    messages:{
	      titulo: {
			required: "Tiene que poner un título",
	      }/*,
	      sector: {
	      	required: "Tiene que elegir un sector",
	    }*/
	}
	});
//	$('#{{propuesta.sector}}').prop("checked", "checked");
//	$('#{{propuesta.barrio}}').attr("selected", "selected");

	$.each(listobjetivos.objetivos, function(index,jsonObject){
	        $('#lista-objetivos-'+jsonObject.apuesta).append('<label class="objetivo"><input type="radio" name="sector" class="'+
			'apuesta-' + jsonObject.apuesta +' " id="' + jsonObject.id+'" value="'+jsonObject.id+'"> ' + jsonObject.titulo+ ' </label>');   
	});

	$("#lista-objetivos input:radio").change(function () {
			$('#form-seleccion-objetivos').find('label').removeClass('active');				
			/*$('.nicEdit-panelContain').parent().width('100%');
			$('.nicEdit-panelContain').parent().next().width('98%');
			$('.nicEdit-main').width('100%');

			$('.nicEdit-main').css('min-height','10em');*/
			if($(this).is(':checked')){
				$(this).parent().addClass('active');
			}		
		});
	if (typeof distritos != 'undefined') {
		$.each(distritos, function(index,jsonObject){	    
		        $('#distritoSelect').append('<option value="'+index+'">'+ jsonObject+ '</option>');	   
		});
	}
	sector="{{propuesta.sector}}";
	if(sector!=""){
		$('input#{{propuesta.sector}}').prop('checked', true); 	
		$('input#{{propuesta.sector}}').trigger('change');
	}
	distrito="{{propuesta.barrio}}";
	$("#distritoSelect").val(distrito);
    $("#distritoSelect").trigger('change');
	

});
</script>
{% endblock %}
{% block content %}
<form class="form-horizontal" role="form" id="nueva-propuesta" action="editando.php" method="post" enctype="multipart/form-data">

		<div class="col-xs-10 col-md-offset-1">
		  <div class="form-group">
		    <label for="título">Título *</label>
		    <input type="text" name ="titulo" class="form-control" id="titulo"
		           placeholder="Título de la propuesta" value="{{propuesta.titulo}}">
		  </div>
		</div>
		
		<div class="col-xs-10 col-md-offset-1">
		  <div class="form-group">
		    <label for="propuesta">Escribe la propuesta *</label>
		    <textarea class="form-control" name="propuesta" id="propuesta" rows="10">{{propuesta.propuesta}}</textarea> 
		  </div>
		</div>

		<div class="col-xs-10 col-md-offset-1">
		  <div class="form-group" id="form-seleccion-objetivos">
		    
			<div style="clear:both"></div>
			Selecciona un objetivo (opcional)
			<div id="#lista-objetivos">
				
					<input type="radio" name="sector" class=" " id="empty_radio" value="" checked style="display:none">
					<div class="row"> 		    		
						<div class="col-md-6" >
							<div class="apuesta" id="lista-objetivos-derechos-equidad">
								<h3> Derechos sociales y Equidad</h3>
							</div>
						</div>
						<div class="col-md-6" >
							<div class="apuesta" id="lista-objetivos-ciudad-sostenible">
								<h3> Ciudad sostenible, cohesionada y cercana </h3>
							</div>
						</div>
					</div>
					<div class="row"> 		
						<div class="col-md-6" >
							<div class="apuesta" id="lista-objetivos-gobierno-democratico">
								<h3> Gobierno Democrático, transparente y eficaz</h3>
							</div>
						</div>
						<div class="col-md-6" >
							<div class="apuesta" id="lista-objetivos-economia-empleo">
								<h3> Economía sostenible y empleo de calidad</h3>
							</div>
							<div class="apuesta">
								<label class="objetivo" style="color:red; margin-top:2em;">
									<input type="radio" name="sector" class="'+
			'apuesta" id="" value="" > No colocar bajo ningun objetivo: medida sólo de barrio </label>'
							</div>
						</div>
					</div>
			</div>
		  	
		</div>

		</div>

		<div class="col-xs-10 col-md-offset-1">
		  <div class="form-group">
		    <label for="desarrollo">Selecciona un distrito (opcional)</label>

		    <select class="form-control" name="barrio" id="distritoSelect">
			  <option value="">Selecciona un Distrito</option>
			  
			</select>
		    
		  </div>
		</div>
		<div id="canvas" style="display:none">
						<div id="paper"></div>
					</div>
		<input type="hidden" name="id" value="{{propuesta.id}}">
		<div class="col-xs-10 col-md-offset-1">
		  <button type="submit" id="enviar" class="btn-lg btn-block btn btn-success">Enviar</button>
		</div>

</form>



{% endblock %}