{% extends "base.html" %}

{% block title %}Programa colaborativo {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {

		$("img.sector").mouseover(function(){
			$(this).css('opacity',1);
	 	});
	 	$("img.sector").mouseout(function(){
			$(this).css('opacity',0.9);
		});
		$("img.sector").click(function() { 
			var i=$(this).attr('id');
            document.location = "sector.php?sector="+ i;
	 	});
		$(".barrio").mouseover(function(){
			$(this).attr('fill-opacity',1);
	 	});
	 	$(".barrio").mouseout(function(){
			$(this).attr('fill-opacity',0.5);	
		});
		$(".barrio").click(function() { 
			var i=$(this).attr('id');
            document.location = "barrio.php?barrio="+ i;
	 	});

	$(".sector").each(function() {
		var sector = $(this).text();
		sector = sector.replace(/-/g, ' ');
		$(this).html('<strong>'+sector+'</strong>');
	});

	$(".barrio").each(function() {
		var barrio = $(this).text();
		if (barrio=="montanana"){
			barrio=barrio.replace("montanana","montañana");
		}else{
			barrio = barrio.replace(/-/g, ' ');
		}
		$(this).html('<strong>'+barrio+'</strong>');
	});

	$( "#distritos-inner" ).on('change','select',function() {
			if($(this).val()!='none'){
				$('a#ir_propuestas_barrios').attr('href','barrio.php?barrio='+$(this).val());
				$('a#ir_propuestas_barrios').removeClass('disabled')
			}
			else{
				$('a#ir_propuestas_barrios').addClass('disabled')
			}
	});
});

</script>
	<script>
	
	$('#myTab a').click(function (e) {
	  	e.preventDefault();
	  	$(this).tab('show');
	})
	</script>

<script src="static/js/main.js"></script>

{% endblock %}


{% block content %}
<div class="container principal">
	<!-- <div class="row">
		<div class="col-xs-12">
			<h1 class="center">PLATAFORMA DE PROGRAMA COLABORATIVO</h1>
		</div>
	</div> -->
	<div class="row">
		<div class="col-xs-12">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="8000">
				  <!-- Indicators 
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				  </ol>-->

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				  	<div class="item active">
				      <img src="static/images/slides-01.png" alt="intro">				      
				    </div>
				    <div class="item">
				      <img src="static/images/slides-02.png" alt="explicacion">
				      
				    </div>
				    <div class="item">
				      <img src="static/images/slides-03.png" alt="">
				      
				    </div>

				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
		</div>
	</div>

	<div class="row" >
		<div class="col-md-10 col-md-offset-1 " id="intro-text" >
			Un textito un poco más amplio sobre la historia del programa actual de ganemos y que esto se hace entre todos por lo que todas la aportaciones son bienvenidas. 
			<br/>
			No obstante cuando votemos seleccionaremos las cosas más importantes donde centrarse.
		</div>
	</div>	
	
	<div class="row" >
		<div class="col-md-4 col-md-offset-1 col-sm-6" >
			<a class="btn btn-success btn-lg btn-block" href="#programa" style="margin-top: 2em;">EXPLORA LAS PROPUESTAS</a>
		</div>
		<div class="col-md-4 col-md-offset-1 col-sm-6">
			<a class="btn btn-success btn-lg btn-block" href="nueva-propuesta.php" style="margin-top: 2em;">SUBIR UNA NUEVA PROPUESTA</a>
		</div>
	</div>	
	

		<h2>Se está debatiendo</h2>



	<div class="row">
		<ul class="nav nav-tabs" role="tablist" id="tabsIndex">
  			<li class="active"><a href="#valoradas" role="tab" data-toggle="tab">Más valoradas</a></li>
  			<li><a href="#consensuadas" role="tab" data-toggle="tab">Más consenso</a></li>
  			<li><a href="#debatidas" role="tab" data-toggle="tab">Más debatidas</a></li>
  			<li><a href="#recientes" role="tab" data-toggle="tab">Más recientes</a></li>
  
		</ul>
	</div>
	<div class="tab-content">
	<div class="tab-pane active" id="valoradas">
	{% if propuestas %}
		{% for propuesta in propuestas %}

		<div class="row listado">
			<div class="col-xs-1 votos">
				{{ propuesta.sum_likes}}
			</div>
			<div class="col-xs-11">
				<div class="titulo"><a href="propuesta.php?id={{propuesta.id}}">{{ propuesta.titulo}}</a></div>
				<div class="metadata">autor: <strong>{{ propuesta.nombre}} {{ propuesta.apellidos}} </strong> | <strong>{{ propuesta.comentarios}}</strong> comentarios | {% set suma = (propuesta.positivos / (propuesta.negativos + propuesta.positivos))*100 %} <strong>{{ suma | number_format(2) }} %</strong> de votos positivos de un total de {{ propuesta.negativos + propuesta.positivos }} votos.
				</div>
				<div class="metadata">
				sector: <a href="sector.php?sector={{propuesta.sector}}"><span class="sector"><strong>{{propuesta.sector}}</strong></span></a>
				{% if propuesta.barrio%}
					| Barrio: <a href="barrio.php?barrio={{propuesta.barrio}}"><span class="barrio"><strong>{{ propuesta.barrio }}</strong></span>
				{% endif %}
				</div>
			</div>
		</div>
			
		{% endfor %}
	
	{% else %}
		<div class="">No hay propuestas todavía. <a href="nueva-propuesta.php">Envíanos la tuya</a></div>
	{% endif %}
	</div>

	<div class="tab-pane" id="debatidas">
	{% if debatidas %}
		{% for debatida in debatidas %}

		<div class="row listado">
			<div class="col-xs-1 votos">
				{{ debatida.sum_likes}}
			</div>
			<div class="col-xs-11">
				<div class="titulo"><a href="propuesta.php?id={{debatida.id}}">{{ debatida.titulo}}</a></div>
				<div class="metadata">autor: <strong>{{ debatida.nombre}} {{ debatida.apellidos}}</strong> | <strong>{{ debatida.comentarios}}</strong> comentarios | {% set suma = (debatida.positivos / (debatida.negativos + debatida.positivos))*100 %} <strong>{{ suma | number_format(2) }} % </strong>de votos positivos de un total de {{ debatida.negativos + debatida.positivos }} votos. </div>
				<div class="metadata">
				sector: <a href="sector.php?sector={{debatida.sector}}"><span class="sector"><strong>{{debatida.sector}}</strong></span></a>
				{% if debatida.barrio%}
					| Barrio: <a href="barrio.php?barrio={{debatida.barrio}}"><span class="barrio"><strong>{{ debatida.barrio }}</strong></span>
				{% endif %}
				</div>
			</div>
		</div>
			
		{% endfor %}
	
	{% else %}
		<div class="">No hay propuestas todavía. <a href="nueva-propuesta.php">Envíanos la tuya</a></div>
	{% endif %}
	</div>

	<div class="tab-pane" id="recientes">
	{% if recientes %}
		{% for reciente in recientes %}

		<div class="row listado">
			<div class="col-xs-1 votos">
				{{ reciente.sum_likes}}
			</div>
			<div class="col-xs-11">
				<div class="titulo"><a href="propuesta.php?id={{reciente.id}}">{{ reciente.titulo}}</a></div>
				<div class="metadata">autor: <strong>{{ reciente.nombre}} {{ reciente.apellidos}} </strong>| <strong>{{ reciente.comentarios}}</strong> comentarios | {% set suma = (reciente.positivos / (reciente.negativos + reciente.positivos))*100 %} <strong>{{ suma | number_format(2) }} % </strong>de votos positivos de un total de {{ reciente.negativos + reciente.positivos }} votos. </div>
				<div class="metadata">
				sector: <a href="sector.php?sector={{reciente.sector}}"><span class="sector"><strong>{{reciente.sector}}</strong></span></a>
				{% if reciente.barrio%}
					| Barrio: <a href="barrio.php?barrio={{reciente.barrio}}"><span class="barrio"><strong>{{ reciente.barrio }}</strong></span>
				{% endif %}
				</div>
			</div>
		</div>
			
		{% endfor %}
	
	{% else %}
		<div class="">No hay propuestas todavía. <a href="nueva-propuesta.php">Envíanos la tuya</a>.</div> 
	{% endif %}
	</div>

	<div class="tab-pane" id="consensuadas">
	{% if consensuadas %}
		{% for consenso in consensuadas %}

		<div class="row listado">
			<div class="col-xs-1 votos">
				{{ consenso.sum_likes}}
			</div>
			<div class="col-xs-11">
				<div class="titulo"><a href="propuesta.php?id={{consenso.id}}">{{ consenso.titulo}}</a></div>
				<div class="metadata">autor: <strong>{{ consenso.nombre}} {{ consenso.apellidos}} </strong>| <strong>{{ consenso.comentarios}}</strong> comentarios | {% set suma = (consenso.positivos / (consenso.negativos + consenso.positivos))*100 %} <strong>{{ suma | number_format(2) }} % </strong>de votos positivos de un total de {{ consenso.negativos + consenso.positivos }} votos. </div>
				<div class="metadata">
				sector: <a href="sector.php?sector={{consenso.sector}}"><span class="sector"><strong>{{consenso.sector}}</strong></span></a>
				{% if consenso.barrio%}
					| Barrio: <a href="barrio.php?barrio={{consenso.barrio}}"><span class="barrio"><strong>{{ consenso.barrio }}</strong></span>
				{% endif %}
				</div>
			</div>
		</div>
			
		{% endfor %}
	
	{% else %}
		<div class="">No hay propuestas todavía. <a href="nueva-propuesta.php">Envíanos la tuya</a>.</div> 
	{% endif %}
	</div>
	</div>

	<div id="programa">
		<div class ="row">
		 	<div class="col-xs-12"  > 
				<a name="sectores"></a><h2 class="madrid">Explora el programa por objetivos</h2>
			El programa se estructura en 4 grandes apuestas por la ciudad. Cada apuesta a su vez se compone de objetivos y dentro de estos objetivos se encuadran las medidas. En esta plataforma vamos a enviar medidas
			</div>
		</div>
		<div class="row">
			    <div class="col-xs-12 col-sm-3"  id="col-ciudad-habitable"> 
			    	<div id="columna-0">
	                	<div class="titulo-apuesta "> <h3> <a href="apuesta.php?apuesta=ciudad-habitable">Apuesta por una ciudad Habitable </a>  </h3> </div>
	                	<div id="objetivos-ciudad-habitable"> 

	                	</div>
	            	</div>
	            </div>
	            <div class="col-xs-12 col-sm-3"  id="col-democracia-transparencia"> 
			    	<div id="columna-1">
	                	<div class="titulo-apuesta "> <h3> <a href="apuesta.php?apuesta=democracia-transparencia"> Apuesta por una reestructuración del ayuntamiento hacia una mayor democracia, descentralización, transparencia y participación</a>  </h3> </div>
	                	<div id="objetivos-democracia-transparencia"> 

	                	</div>
	            	</div>
	            </div>
	            <div class="col-xs-12 col-sm-3"  id="col-derechos-sociales"> 
			    	<div id="columna-2">
	                	<div class="titulo-apuesta "> <h3> <a href="apuesta.php?apuesta=derechos-sociales"> Apuesta por la protección y defensa de los derechos sociales</a>  </h3> </div>
	                	<div id="objetivos-derechos-sociales"> 

	                	</div>
	            	</div>
	            </div>
	            <div class="col-xs-12 col-sm-3"  id="col-modelo-sostenible"> 
			    	<div id="columna-3">
	                	<div class="titulo-apuesta"> <h3> <a href="apuesta.php?apuesta=modelo-sostenible"> Apuesta por un nuevo modelo económico sostenible social
	y medioambientalmente</a>  </h3> </div>
	                	<div id="objetivos-modelo-sostenible"> 

	                	</div>
	            	</div>
	            </div>   
		</div>
	</div>
</div> <!-- container -->
<div id="distritos">
	<div class="container">
		<div class="row">
			<h2 class="madrid">Explora el programa por distritos</h2>
		</div>
		<div class="row" id="distritos-inner">
			<div class="col-sm-6">
				<div id="canvas">
	            	<div id="paper"></div>
	        	</div>
	        </div>
	        <div class="col-sm-4">
	        	<div id="info-distrito">
	        		<div id="nombre-distrito">
	        			<div class="form-group">
						      <select value="none" id="distritoSelect" class="form-control">
						        <option value="none">Click para seleccionar distrito</option>
						      </select>
						  </div> 
						</div> 
	        		<div id="datos-distrito"> </div>
	        	</div>
	        	<a class="btn btn-default btn-lg btn-success disabled" href="#" id="ir_propuestas_barrios" role="button">¡Explora las propuestas de este distrito!</a>
	        	<div class="info-ayuda">
	        		Nota: Sólo algunas de las propuestas incluidas están asociadas a un distrito en concreto, un gran número hacen referencia a toda la ciudad.
	        	</div>
	        </div>
		</div>
	</div>
</div>
	




{% endblock %}