{% extends "base2.html" %}

{% block title %} Entrar {% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {

    $("#login_form").validate({
        rules: {
          email_login: {
            required: true,
            email: true,
          },
          pass_login: {
            required: true,
          },
        messages:{
          email_login: {
            required: "Tienes que escribir un email",
          }, 
          pass_login: {
            required: "Escribe la contraseña",
          }
        },  
        }
    });
    $("#signup_form").validate({
        rules: {
          email_signup: {
            email:true,
            required:true,
            remote: "lib/validar_email_db.php",
          },
          pass_signup: "required",
          nombre: "required",
          apellidos: "required",
        },
        messages:{
          email_signup: {
            remote: "Este email ya está registrado",
          },
          nombre: {
            required: "Escribe tu nombre",
          },
          apellidos: {
            required: "Escribe tus apellidos",
          }, 
          pass_signup: {
            required: "Escribe una contraseña",
          }
        },
    });


    if(getUrlVars()['page']=='error-captcha'){
            $('#login').hide();
            $('#forgot').hide();
            $('#signup').show();
            $('.signup-error').show();
    }
    if(getUrlVars()['page']=='registered'){            
            $('#login-intro-msg').empty().html('<span style="color:#00a48c; font-size:1.5em">¡Registro completado con éxito! Entra ahora y estrena tu nombre de usuario y contraseña</span>');
    }
    if(getUrlVars()['page']=='email'){            
            $('#login-intro-msg').empty().html('<span style="color:#00a48c; font-size:1.1em">¡Te hemos enviado el email con la nueva clave. Mira en la carpeta de spam si no lo encuentras!</span>');
    }

});
    function getUrlVars() {
        mstring = String( document.location.href ).replace( "#", "" );
    var vars = {};
    var parts = mstring.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
    }
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}    
    <div class="form-wrap">
        <div class="row">
            <div id="login">
                <div class="form-header">
                    <i class="fa fa-user"></i>
                    <h2>Entrar</h2>
                    <h5 style="color:#555; padding: 0em 1em;"id="login-intro-msg" > Para comentar o enviar medidas es necesario estar registrado en la plataforma. <br/>Pero no te cortes, registrar un nuevo usuario es muy simple</h5>
                    {% if error %}
                    <p class="no_login">Usuario o contraseña incorrecta. Inténtalo otra vez.</p>
                    {% endif%}
                </div>
                <form id="login_form"  method="post" action="entrar.php">
                <div class="form-main">
                    <div class="form-group">
                        <input type="text" name="email_login" id="email_login" class="form-control" placeholder="Email">
                        <input type="password" name="pass_login" id="pass_login" class="form-control" placeholder="Contraseña">
                    </div>
                    <button id="button_login" type="submit" class="btn btn-block signin">Entrar</button>
                </form>
                </div>
                <div class="form-footer">
                    <div class="row">
                        <div class="col-xs-7">                            
                            <a href="" id="forgot_from_1"><i class="fa fa-unlock-alt"></i><br/>Recordar contraseña</a>
                        </div>
                        <div class="col-xs-5">
                            
                            <a href="" id="signup_from_1"><i class="fa fa-check"></i><br/>Regístrate</a>
                        </div>
                    </div>
                </div>      
            </div>

            <div id="signup">
                <div class="form-header">
                    <i class="fa fa-user"></i>
                    <h2>Alta</h2>
                    <h5 class="signup-error"> Captcha incorrecto, prueba a registrarte de nuevo </h5>
                </div>
                <form id="signup_form" method="post" action="alta.php">
                <div class="form-main">
                    <div class="form-group">
                        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre">
                        <input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Apellidos">
                        <input type="text" name="email_signup" id="email_signup" class="form-control" placeholder="Email">
                        <input type="password" name="pass_signup" id="pass_signup" class="form-control" placeholder="Contraseña">
                    </div>
					<div class="g-recaptcha" data-sitekey="6LerPwMTAAAAAFjtwKyWAlNhLjAZ8-6yS9U1C3hl"></div>
                    <button id="button_signup" type="submit" class="btn btn-block signin">Registrarse</button>
                </form>
                </div>
                <div class="form-footer">
                    <p>De conformidad con lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, te informamos de que los datos personales que nos proporciones así como aquellos que nos facilites en un futuro serán incorporados a un fichero automatizado de datos de carácter personal responsabilidad de "Ahora Madrid", con la finalidad de gestionar las comunicaciones que podamos realizar contigo.
                        </p>
                    <p>Para ejercitar los derechos de acceso, rectificación, oposición y cancelación reconocidos por la legislación vigente, el interesado deberá realizar una comunicación a hola@ahoramadrid.org, indicando como asunto “Protección de datos”.</p>

                    <p>Asumimos que al registrarte estás conforme con estas advertencias legales.</p>
                </div>      
            </div>

            <div id="forgot">
                <div class="form-header">
                    <i class="fa fa-user"></i>
                    <h2>Recuperar contraseña</h2>
                </div>
                <div class="form-main">
                <form id="form_forgot" method="post" action="forgot.php">
                    <div class="form-group">
                        <input type="text" name="email_forgot"id="email_forgot" class="form-control" placeholder="Email">
                    </div>
                    <button id="button_forgot" type="submit" class="btn btn-block signin">Recuperar contraseña</button>
                </form>
                </div>  
            </div>
        </div>
    </div> 

    <script>

        $('#signup').hide();
        $('#forgot').hide();
        $('#login_from_1').click(function (e) {
            e.preventDefault();
            $('#signup').hide();
            $('#forgot').hide();
            $('#login').show();
        });
        $('#signup_from_1').click(function (e) {
            e.preventDefault();
            $('#login').hide();
            $('#forgot').hide();
            $('#signup').show();
            
        });
        $('#forgot_from_1').click(function (e) {
            e.preventDefault();
            $('#signup').hide();
            $('#login').hide();
            $('#forgot').show();
        })

    </script>                         
{% endblock %}