{% extends "base_envia.html" %}

{% block title %} Nueva propuesta {% endblock %}
{% block scripts %}

<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">
bkLib.onDomLoaded(function() {
	new nicEditor({buttonList : ['bold','italic','underline','left','center','right','justify','ol','ul','link',]}).panelInstance('propuesta');
});
</script>
<script>
function getUrlVars() {
		mstring = String( document.location.href ).replace( "#", "" );
	var vars = {};
	var parts = mstring.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
	    vars[key] = value;
	});
	return vars;
}
$(document).ready(function() {
$('#footer').hide();
	optionIsSelected=false;


	distrito = getUrlVars()["distrito"];
	objetivo = getUrlVars()["objetivo"];

	
	$("#nuevapropuesta").validate({
	    rules: {
	      titulo: {
			required: true,
	      },
	      propuesta: {
	      	required: true,
	      }
	    },
	    messages:{
	      titulo: {
			required: "Tiene que poner un título",
	      },
	      propuesta: {
	      	required: "Tiene que elegir un sector",
	    }
	}
	});

//genera los objetivos bajo cada propuesta;
    $.each(listobjetivos.objetivos, function(index,jsonObject){

	        $('#lista-objetivos-'+jsonObject.apuesta).append('<label class="objetivo"><input type="radio" name="sector" class="'+
			'apuesta-' + jsonObject.apuesta +' " id="' + jsonObject.id+'" value="'+jsonObject.id+'"> ' + jsonObject.titulo+ ' </label>');
   
	});
		
	$('a#continue1').on('click',function(event){	//first time scroll to the form element		
		event.preventDefault()

		if( $("#nuevapropuesta").valid()==true){
			if( typeof distrito != 'undefined'){ // vienen de una página de distrito a añadir algo
				$('#step-distritos').show();
				$('#step-elige-previous').show();
				$('#step-distritos h3.titulo1').empty().text('Vas a añadir tu propuesta a este distrito:')
				$("#distritoSelect").val(distrito);
                $("#distritoSelect").trigger('change');
				if(!optionIsSelected)	
					$("html, body").animate({ scrollTop: $('#step-distritos').offset().top-100},1000);
					optionIsSelected=true;
			}
			else if(typeof objetivo != 'undefined'){
				$('input#'+objetivo).prop('checked', true); 
				optionIsSelected=true;
				$('input#'+objetivo).trigger('change');
				$('#step-elige h3.titulo1').empty().html('Hemos seleccionado por tí el objetivo según la página de donde vienes <strong> Cámbialo si tu medida se encuadra mejor en otro lado</strong>')					
				$('#step-elige').fadeIn("fast", function(){ 
					$("html, body").animate({ scrollTop: $('#step-elige').offset().top-100},1000);
				}); 
				
			}
			else{
				$('#step-elige').fadeIn("fast", function(){ 
					$("html, body").animate({ scrollTop: $('#step-elige').offset().top-100},1000);
				}); 
			}
			$('#footer').show();
		}			
	});

	$('a#show-step-elige').on('click',function(event){
		$('#step-elige-previous').hide();
		$('#step-elige').fadeIn("fast", function(){ 
					$("html, body").animate({ scrollTop: $('#step-elige').offset().top-100},1000);
				});
	});
	
	$("#lista-objetivos input:radio").change(function () {
			$('#form-seleccion-objetivos').find('label').removeClass('active');	
			$('#step-distritos').show();
			/*$('.nicEdit-panelContain').parent().width('100%');
			$('.nicEdit-panelContain').parent().next().width('98%');
			$('.nicEdit-main').width('100%');

			$('.nicEdit-main').css('min-height','10em');*/
			if($(this).is(':checked')){
				$(this).parent().addClass('active');
			}
			if(!optionIsSelected)	//first time scroll to the form element		 
				$("html, body").animate({ scrollTop: $('#step-distritos').offset().top-100},1000);
			optionIsSelected=true;

			
		});

	

	$( "#step-distritos" ).on('change','select',function() {
	  if($(this).val()!=""){
	  	$('div#canvas').fadeIn();
	  }else{
	  	$('div#canvas').fadeOut();
	  }
	});

});
</script>
{% endblock %}
{% block content %}
<div class="container principal">
	<form class="form-horizontal" role="form" id="nuevapropuesta" action="nueva.php" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="central col-md-8">			
				<div id="step-escribe">
					<h1 > LOS PROBLEMAS Y SOLUCIONES PARA MADRID SON MUCHOS Y COMPLEJOS... <br/>¿QUÉ PROPONES? </h1>
					<h4><p> Te harán falta <strong> sólo 3 sencillos pasos</strong> para enviar una propuesta (¡o incluso menos!) </p> <p> Tendrás que introducir tu nueva medida y después asignarla bajo una categoría o un distrito de la ciudad </p>
						<p> <small>No olvides que ya hay muchas medidas incluidas en la plataforma, <a href="index.php#sectores"> empieza por echar un ojo a lo que ya hay </a> antes de enviar algo nuevo </small></p>
					</h4>	
					    		<h3>1. Comienza escribiendo tu nueva medida de una forma clara y concisa: </h3>	
					<div class="col-xs-10 col-md-offset-1">
					  <div class="form-group">
					    <label for="titulo">Título *</label>
					    <input type="text" name ="titulo" class="form-control" id="titulo"
					           placeholder="Título de la propuesta">
					  </div>
					</div>
					
					<div class="col-xs-10 col-md-offset-1">
					  <div class="form-group">
					    <label for="propuesta">Escribe la propuesta *</label>
					    <textarea class="form-control" name="propuesta" id="propuesta" rows="10"></textarea> 
					  </div>
					  <a href="#" id="continue1" class="btn-lg btn-block btn btn-success"> continuemos...</a>
					</div>
				</div>			
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<div class="barra-der">
					{% include 'sidebar.html' %}
				</div>
			</div>
		</div> <!-- row-->
		<div class="row">
			<div id="step-elige-previous">
				<div class="col-xs-12" >
					<small> 2. El paso 2 nos lo hemos saltado porque parece que tu propuesta se centra en un distrito. <br/>
					Si nos hemos equivocado y tu propuesta es para toda la ciudad <a href="#" id="show-step-elige">pulsa aquí y podrás elegir la categoría:</a> </small>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="step-elige">
				<div class="col-xs-12" id="lista-objetivos">
					<h3 class="titulo1"> 2. AHORA ELIGE <strong>UN OBJETIVO </strong>  DONDE ENCUADRAR TU PROPUESTA: </h3>
					<div class="form-group" id="form-seleccion-objetivos"  >
					<input type="radio" name="sector" class=" " id="empty_radio" value="" checked style="display:none">
						<div class="row"> 		    		
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-derechos-equidad">
									<h3> Derechos sociales y Equidad</h3>
								</div>
							</div>
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-ciudad-sostenible">
									<h3> Ciudad sostenible, cohesionada y cercana </h3>
								</div>
							</div>
						</div>
						<div class="row"> 		
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-gobierno-democratico">
									<h3> Gobierno Democrático, transparente y eficaz</h3>
								</div>
							</div>
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-economia-empleo">
									<h3> Economía sostenible y empleo de calidad</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="step-distritos">
			<h3 class="titulo1"> 3. ¿Tu medida está centrada en un distrito? </h3>
			<div class="row" id="distritos-inner">				
				<div class="col-md-6">
					<div id="info-distrito">
						<div id="nombre-distrito">
							<div class="form-group">
								<select value="" id="distritoSelect" name="barrio" class="form-control">
									<option value="">No, mi medida es para toda la ciudad </option>
								</select>
							</div> 
						</div> 
						<div id="datos-distrito"> </div>
					</div>
					
					<div class="info-ayuda">
						¿Está conectada tu propuesta a un distrito en concreto? Márcalo.
					</div>

					<div id="envio">
						<h3>4. ¡Ya has terminado! Ahora pulsa enviar para mandarnos tu propuesta.</h3>
						
						<button type="submit" id="enviar" class="btn-lg btn-block btn btn-success">Enviar</button>
						<span class="mini-texto-ayuda"> *Nota: una vez pulses enviar no podrás volver a editar tu propuesta</span>
					</div>
					
				</div>
				<div class="col-md-6 hidden-sm hidden-xs">
					<div id="canvas">
						<div id="paper"></div>
					</div>
				</div>
			</div>
		</div>
				
			
</form>
</div> <!--container principal-->




{% endblock %}