{% extends "base2.html" %}

{% block title %}
	{% if tag %}
		Propuestas de {{tag}} 
	{%else%}
		Propuestas de programa
	{% endif %}
	{% endblock %} 
{% block scripts %}
<script>
function getUrlVars() {
		mstring = String( document.location.href ).replace( "#", "" );
	var vars = {};
	var parts = mstring.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
	    vars[key] = value;
	});
	return vars;
}
$(document).ready(function() {
	/*$(".sector").each(function() {
		var sector = $(this).text();
		sector = sector.replace(/-/g, ' ');
		$(this).html('<strong>'+sector+'</strong>');
	});*/

	obj="{{tag}}"
	infoObjetivo=getObjetivo(obj);
	if(infoObjetivo!=null){
		$('.objetivo-descripcion').empty().html(infoObjetivo.descripcion)
		$('.objetivo-titulo').empty().html(infoObjetivo.titulo)
	}

	

	$('.pagination a').click(function(){
		$.cookie('defaultTab', $('#tabsIndex li.active a').attr('href') );
	});

	if(getUrlVars()['page'] != 'undefined' ){
		if($.cookie('defaultTab') != 'undefined'){
			$('#tabsIndex a[href="'+$.cookie('defaultTab')+'"]').tab('show')
			console.log($.cookie('defaultTab'));	
		}
	}else{
		if(Math.random()>0.5){
			$('#tabsIndex a[href="#recientes"]').tab('show')
			console.log("recientes");
		}
		else{
			$('#tabsIndex a[href="#debatidas"]').tab('show')	
			console.log("debatidas");
		}
	}
	
});

</script>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h2 > <small><i>objetivo:</i></small> <br/><span class="objetivo-titulo"> </span></h2>
			<p class="objetivo-descripcion"> </p>

		</div>
	</div>
	
	{% include 'listados.html' %}
	
	{% autoescape false %}{{ paginado }}{% endautoescape %}

	{% if user %}
	<div class="row">
		<div class="col-xs-12">
			<h4 class="text-center"> ¿Echas en falta alguna medida en este objetivo? </h4>
			<a class="btn btn-success btn-lg btn-block" href="nueva-propuesta.php?objetivo={{tag}}">SUBIR UNA NUEVA MEDIDA</a>
		</div>
	</div>	
	{% else %}
	<div class="row">
		<div class="col-xs-12">
			<a href="login.php"> Tienes que estar identificado para hacer una propuesta. ¡Registrate y participa!</a>
		</div>
	</div>
	{% endif %}

	

	<script>
	
	$('#myTab a').click(function (e) {
	  	e.preventDefault();
	  	$(this).tab('show');
	})
	</script>
{% endblock%}